html {
  font-family: "Manrope", sans-serif;
  font-style: normal;
}

body {
  background: #fafbff;
  margin: 0;
}

/* ---------------------------Header--------------------------------------------------------------------------- */
header {
  position: absolute;
  width: 1195px;
  height: 52px;
  left: 128px;
  top: 28px;
  color: white;
}

#header-container h4 {
  margin-top: 13px;
  height: 27px;
  font-weight: 700;
  font-size: 18px;
  line-height: 27px;
  text-transform: uppercase;
}

.col-3 {
  width: 33%;
  float: left;
}

.menu li {
  list-style-type: none;
  display: inline;
  padding-right: 30px;
  width: 53px;
  height: 19px;
  font-weight: 500;
  font-size: 14px;
  line-height: 19px;
}

.arrow {
  border: solid white;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  margin-left: 5px;
  margin-top: -20px;
}

.getStartedBTN {
  background: #ff7f5c;
  border-radius: 10px;
  text-decoration: none;
  color: #ffffff;
  padding: 15px 26px;
  float: right;
  width: 65px;
  height: 19px;;
  font-weight: 500;
  font-size: 14px;
  line-height: 19px;
}

.SignIn {
  text-decoration: none;
  color: #ffffff;
  padding: 15px 26px;
  font-size: 17px;
  float: right;
  width: 44px;
  height: 19px;
  
  font-weight: 500;
  font-size: 14px;
  line-height: 19px;
}

/* ----------------------------------Header close-------------------------------------------------------------------- */

/* --------------------------------------------Top section------------------------------------------------------- */

#top-section-main {
  background: #3734a9;
  height: 840px;
  border: none;
  background-image: url("../Images/Group 4346.png");
  color: #ffffff;
  text-align: center;
}

#top-section-content {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  padding-right: 50px;
}

.content {
  width: 870px;
  height: 468px;

}

#top-section-content h1 {
  width: 970px;
  height: 160px;
  font-weight: 800;
  font-size: 60px;
  line-height: 80px;
  letter-spacing: -0.03em;
  margin-top: 0;
  padding-top: 150px;
  margin-bottom: 25px;
}

#top-section-content p {
  height: 60px;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: -0.02em;
}

.top-section-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  width: 415px;
  height: 60px;
  padding-top: 32px;
}

.getStartedBTN2 {
  background: #ff7f5c;
  border-radius: 47px;
  text-decoration: none;
  color: #ffffff;
  padding: 10px 26px;
  font-size: 17px;
  margin: 20px;
  width: 85px;
  height: 30px;
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: -0.02em;
}

.circle {
  height: 50px;
  width: 50px;
  background-color: #22d497;
  background-image: url("../Images/Polygon 2.png");
  background-repeat: no-repeat;
  background-position: 55% 50%;
  margin-left: 14px;
  margin-right: 10px;
  border-radius: 47px;
}

.btn-p {
  width: 152px;
  height: 30px;
  margin: 0;
  font-weight: 500;
  font-size: 17px;
  line-height: 30px;
  padding-top: 30px;
  letter-spacing: -0.02em;
}

.frame {
  margin: auto;
  padding-top: 100px;
  width: 804px;
  height: 525.62px;
 
}

/* ============================Top Section Close======================================================= */

/* ----------------------------------Feature Section----------------------------------------------------- */

#feature-section {
  margin-top: 250px;
  padding-top: 100px;
}

.feature-section-title {
  margin: auto;
  width: 568px;
  height: 30px;
  font-weight: 500;
  font-size: 22px;
  line-height: 30px;
  text-align: center;
}

.logo {
  align-items: center;
  margin: auto;
  justify-content: center;
  display: flex;
  padding-top: 30px;
}

/* ----------------------------------------------Feature Section Close----------------------------------------------------------------- */

/* ------------------------------------------------Show Case Container ------------------------------------------------------------------------ */
#showcase1-container {
  padding-top: 100px;
  width: 100%;
  clear: both;
}

.showcase {
  width: 80%;
  margin: auto;
  overflow: hidden;
}

.col-2 {
  float: left;
  width: 48%;
}

.showcase1pic {
  width: 567.57px;
  height: 569px;
}

.feature-content {
  padding-top: 35px;
  width: 879px;
  height: 409px;
}

.feature-text {
  width: 121px;
  height: 25px;
  font-weight: 800;
  font-size: 18px;
  line-height: 25px;
  text-transform: uppercase;
  color: #3734a9;
  padding-bottom: 15px;
}

.sec-h1 {
  width: 679px;
  height: 180px;
  font-weight: 700;
  font-size: 50px;
  line-height: 56px;
  letter-spacing: -0.03em;

}

.section-left {
  width: 90%;
  padding: 20px 10px 40px 10px;
  margin: auto;
  height: 78px;
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
  letter-spacing: -0.02em;
  color: #757095;
}

.section-title {
  width: 90%;
  margin: auto;
}

.getStartedBTN3 {
  background: #3734a9;
  border-radius: 7px;
  text-decoration: none;
  color: #ffffff;
  padding: 10px 26px;
  font-size: 17px;
  width: 162px;
  height: 60px;
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
  text-align: center;
  letter-spacing: -0.02em;
  padding: 20px 25px;
}

.sec-btn {
  margin-left: 40px;
}

#showcase2-container {
  padding-top: 60px;
  width: 100%;
  clear: both;
}

.sec-2 {
  padding-left: 150px;
}

/* -----------------------------------End Showcase container----------------------------------------------------------------------------------- */

/* ---------------------------------------Call To Action------------------------------------------------------------------------------------- */
/* -------------------Top Contetnt--------- */

#call-to-action {
  background: #3734a9;
    padding-top: 120px;
  padding-bottom: 120px;
}

.show-call {
  display: flex;
  flex-direction: column;
}

.col-1 {
  width: 50%;
  float: left;
}

.action-title {
  width: 900px;
  height: 100px;
  font-weight: 800;
  font-size: 45px;
  line-height: 50px;
  letter-spacing: -0.03em;
  color: #ffffff;
}

.call-btn {
  display: flex;
  align-items: center;
  justify-content: end;
  margin: auto;
}

.action-btn {
  float: right;
  margin-top: 40px;
  background: #ff7f5c;
  border-radius: 10px;
  text-align: center;
  width: 139px;
  height: 30px;
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  letter-spacing: -0.02em;
  padding: 20px;
}

/* =---------End Top Content-------------------- */

.element {
  display: flex;
  align-items: center;
}

.number {
  width: 94.52px;
  height: 94.52px;
  background: #312f91;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.number h1 {
  width: 18px;
  height: 33px;
  font-weight: 700;
  font-size: 46px;
  line-height: 32px;
  letter-spacing: -0.02em;
  color: #e8f2ff;
}

.middle-container {
  margin-left: 30px;
}

.middle-container h4 {
  width: 272px;
  height: 33px;
  font-weight: 700;
  font-size: 26px;
  line-height: 32px;
  letter-spacing: -0.02em;
  color: #e8f2ff;
  margin-bottom: 10px;
}

.middle-container p {
  width: 312px;
  height: 65px;
  margin-top: 0;
  font-weight: 500;
  font-size: 18.9045px;
  line-height: 32px;
  letter-spacing: -0.02em;
  color: #a0b3e9;
}

/* ---End Middle Container------ */

/* -------------Side Container */
.side-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.vid-img {
  margin-top: -456px;
  margin-left: 456px;
  width: 734px;
  height: 461px;
}

/* ------------End Side Container------------ */

/* ---------------------------------------End Call to Action---------------------------------------------------------------------- */

/* --------------------------------------------Feature - 2 ----------------------------------------------------------------- */

.feature2 {
  box-sizing: border-box;
  margin-top: 50px;
  margin-bottom: 50px;
  width: 1200px;
  height: 190px;
  background: #ffffff;
  border: 1px solid #dee1e6;
  border-radius: 20px;
}

.feature2-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.feature2-container h5 {
  width: 400px;
  height: 92px;
  font-weight: 800;
  font-size: 30px;
  letter-spacing: -0.03em;
}

.feature2-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 245px;
  height: 65px;
}

.feature2-icon p{

width: 156px;
height: 64px;
left: 595px;
top: 3590px;
font-size: 20px;
line-height: 32px;
letter-spacing: -0.02em;
color: #64607D;

}

.feature2 img {
  background: #ebece8;
  border-radius: 5px;
  margin-right: 15px;
  margin-left: 15px;
  width: 30px;
  height: 30px;
}

.vector {
  padding: 15px ;
}

/* -----------------------------------------End of Feature 2------------------------------------------------------------ */

/* ------------------------------------Feature-3-------------------------------------------------------------------------- */

.feature3 {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 20px;
  margin-bottom: 50px;
  height: 354px;
  width: 1190px;
}

.props {
  width: 50%;
  float: left;
}

.value {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 580px;
  height: 354px;
  padding: 60px 0px;
  height: 254px;
  background: #ffffff;
  box-shadow: 0px 141.825px 113.46px rgba(0, 0, 0, 0.03),
    0px 91.9235px 66.4476px rgba(0, 0, 0, 0.0227778),
    0px 54.6288px 36.1391px rgba(0, 0, 0, 0.0182222),
    0px 28.365px 18.4372px rgba(0, 0, 0, 0.015),
    0px 11.5561px 9.24488px rgba(0, 0, 0, 0.0117778),
    0px 2.62639px 4.46486px rgba(0, 0, 0, 0.00722222);
  border-radius: 20px;
}

.value h3 {
  text-align: center;
  width: 488px;
  height: 100px;
  font-weight: 800;
  font-size: 42px;
  line-height: 50px;
  text-align: center;
  letter-spacing: -0.03em;
  margin-bottom: 10px;
}

.value p {
  text-align: center;
  width: 468px;
  height: 60px;
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
  text-align: center;
  letter-spacing: -0.02em;
  color: #64607D;
}

.getStartedBTN4 {
  background: #3734a9;
  border-radius: 10px;
  text-decoration: none;
  color: #ffffff;
  padding: 10px 26px;
  margin-top: 20px;
  margin: 20px;
  width: 185px;
  height: 60px;
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
  text-align: center;
  letter-spacing: -0.02em;
}
/* --------------------------End Feature 3---------------------------------------------------------------------------- */

/* -------------------------------------------------------------End CSS------------------------------------------------ */
